@media (min-width:576px) and (max-width:767.98px){
    .header-main {
        padding-top: 32px;
        color: #fff;
        padding-left: 273px;
    }
.nav-menu {
    text-align: center !important;
}
.nav-menu form{
    justify-content: center;
}
 .nav-menu .man-icon{
    justify-content: center;
   margin-right: 50px;
 }
}